.page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.page > .relative {
  display: flex;
  flex-direction: column;
  position: relative;
}
